<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="appointment_form">
        <%= render 'shared/appointment_form' %>
      </section>
    </aside
  </div>
<% else %>  
  <div class="center jumbotron">
    <h1>Welcome to the Appointment Manager!</h1>
  
    <h2>
      Manage your appointments!
    </h2>
  
  </div>
<% end %>