<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.appointments.any? %>
      <h3>Appointments (<%= @user.appointments.count %>)</h3>
      <ol class="appointments">
        <%= render @user.appointments %>
        <%= link_to "comment on an appointment!", new_user_comment_path %>
      </ol>
    <% end %>
  </div>
</div>