<%= form_for(@appointment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Create new appointment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>